In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states 
import gmaps

In [2]:
api_key = "1383ed6d1c178075bb6c33d544f4a17d700c9607"

In [3]:
c = Census(api_key, year=2016)

In [35]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})


# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["State", "Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Rate"]]

census_pd

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,01,Alabama,4841164.0,38.6,44758.0,24736.0,868666.0,17.943329,3.810633
1,02,Alaska,736855.0,33.6,74444.0,34191.0,72826.0,9.883356,4.090221
2,04,Arizona,6728577.0,37.1,51340.0,26686.0,1165636.0,17.323663,3.715080
3,05,Arkansas,2968472.0,37.7,42336.0,23401.0,542431.0,18.273071,3.139326
4,06,California,38654206.0,36.0,63783.0,31458.0,6004257.0,15.533257,4.355868
5,08,Colorado,5359295.0,36.4,62520.0,33230.0,637938.0,11.903394,3.203686
6,09,Connecticut,3588570.0,40.6,71755.0,39906.0,360464.0,10.044781,4.319409
7,10,Delaware,934695.0,39.6,61017.0,31118.0,109448.0,11.709488,3.602138
8,11,District of Columbia,659009.0,33.8,72935.0,48781.0,112060.0,17.004320,5.056987
9,12,Florida,19934451.0,41.6,48900.0,27598.0,3139258.0,15.747903,4.023266
10,13,Georgia,10099320.0,36.2,51037.0,26678.0,1746894.0,17.297145,4.149913
11,15,Hawaii,1413673.0,38.5,71977.0,30970.0,148577.0,10.509998,2.742360
12,16,Idaho,1635483.0,35.7,49174.0,24280.0,244585.0,14.954909,2.958453
13,17,Illinois,12851684.0,37.4,59196.0,31502.0,1753731.0,13.645924,4.245630
14,18,Indiana,6589578.0,37.4,50433.0,26117.0,957694.0,14.533465,3.474107
15,19,Iowa,3106589.0,38.0,54570.0,28872.0,369828.0,11.904632,2.423526
16,20,Kansas,2898292.0,36.2,53571.0,28478.0,373162.0,12.875238,2.725743
17,21,Kentucky,4411989.0,38.6,44811.0,24802.0,804139.0,18.226224,3.547357
18,22,Louisiana,4645670.0,36.2,45652.0,25515.0,889570.0,19.148368,3.623288
19,23,Maine,1329923.0,44.0,50826.0,28473.0,174405.0,13.113917,3.129504
20,24,Maryland,5959902.0,38.3,76067.0,37756.0,576835.0,9.678599,3.625664
21,25,Massachusetts,6742143.0,39.4,70954.0,38069.0,740836.0,10.988138,3.742831
22,26,Michigan,9909600.0,39.5,50803.0,27549.0,1575066.0,15.894345,4.167010
23,27,Minnesota,5450868.0,37.8,63217.0,33225.0,577196.0,10.589066,2.675776
24,28,Mississippi,2989192.0,36.7,40528.0,21651.0,645553.0,21.596237,4.310195
25,29,Missouri,6059651.0,38.3,49593.0,27044.0,897755.0,14.815292,3.302880
26,30,Montana,1023391.0,39.8,48380.0,27309.0,148677.0,14.527878,2.871043
27,31,Nebraska,1881259.0,36.2,54384.0,28596.0,227021.0,12.067504,2.261464
28,32,Nevada,2839172.0,37.5,53094.0,27253.0,417257.0,14.696433,4.702956
29,33,New Hampshire,1327503.0,42.4,68485.0,35264.0,109690.0,8.262882,2.841952
30,34,New Jersey,8915456.0,39.5,73702.0,37538.0,949341.0,10.648261,4.137422
31,35,New Mexico,2082669.0,37.2,45674.0,24459.0,426814.0,20.493607,3.897643
32,36,New York,19697457.0,38.2,60741.0,34212.0,2967564.0,15.065721,3.854426
33,37,North Carolina,9940828.0,38.3,48256.0,26779.0,1631704.0,16.414166,4.069923
34,38,North Dakota,736162.0,35.2,59114.0,33107.0,79314.0,10.773987,1.528196
35,39,Ohio,11586941.0,39.3,50674.0,27800.0,1732839.0,14.955103,3.658912
36,40,Oklahoma,3875589.0,36.2,48038.0,25628.0,621155.0,16.027370,2.841375
37,41,Oregon,3982267.0,39.1,53270.0,28822.0,614223.0,15.423953,4.037826
38,42,Pennsylvania,12783977.0,40.6,54895.0,30137.0,1647762.0,12.889275,3.664274
39,44,Rhode Island,1054491.0,39.9,58387.0,31904.0,140161.0,13.291816,4.134696
40,45,South Carolina,4834605.0,38.8,46898.0,25521.0,806422.0,16.680204,4.022128
41,46,South Dakota,851058.0,36.8,52078.0,27516.0,115300.0,13.547843,2.189745
42,47,Tennessee,6548009.0,38.5,46574.0,26019.0,1100169.0,16.801580,3.640374
43,48,Texas,26956435.0,34.2,54727.0,27828.0,4397307.0,16.312643,3.146303
44,49,Utah,2948427.0,30.3,62518.0,25600.0,338808.0,11.491144,2.479763
45,50,Vermont,626249.0,42.6,56104.0,30663.0,69673.0,11.125447,2.728467
46,51,Virginia,8310301.0,37.8,66149.0,34967.0,921664.0,11.090621,3.072572
47,53,Washington,7073146.0,37.6,62848.0,32999.0,883256.0,12.487456,3.459451
48,54,West Virginia,1846092.0,41.9,42644.0,24002.0,318060.0,17.228827,3.315924
49,55,Wisconsin,5754798.0,39.1,54610.0,29253.0,713472.0,12.397863,2.944082
50,56,Wyoming,583029.0,36.8,59143.0,30139.0,65762.0,11.279370,2.593010
51,72,Puerto Rico,3529385.0,39.4,19606.0,11688.0,1577075.0,44.684131,6.428315

In [5]:
gr_population = census_pd.groupby('State')
gr_population["Population"]

In [9]:
state_table = pd.read_csv("csv_data/state_abbreviations.csv")
state_table

              CAPS            Name State
0          ALABAMA         Alabama    AL
1           ALASKA          Alaska    AK
2          ARIZONA         Arizona    AZ
3         ARKANSAS        Arkansas    AR
4       CALIFORNIA      California    CA
5         COLORADO        Colorado    CO
6      CONNECTICUT     Connecticut    CT
7         DELAWARE        Delaware    DE
8          FLORIDA         Florida    FL
9          GEORGIA         Georgia    GA
10          HAWAII          Hawaii    HI
11           IDAHO           Idaho    ID
12        ILLINOIS        Illinois    IL
13         INDIANA         Indiana    IN
14            IOWA            Iowa    IA
15          KANSAS          Kansas    KS
16        KENTUCKY        Kentucky    KY
17       LOUISIANA       Louisiana    LA
18           MAINE           Maine    ME
19        MARYLAND        Maryland    MD
20   MASSACHUSETTS   Massachusetts    MA
21        MICHIGAN        Michigan    MI
22       MINNESOTA       Minnesota    MN
23     MISSISSIPPI     Mississippi    MS
24        MISSOURI        Missouri    MO
25         MONTANA         Montana    MT
26        NEBRASKA        Nebraska    NE
27          NEVADA          Nevada    NV
28   NEW HAMPSHIRE   New Hampshire    NH
29      NEW JERSEY      New Jersey    NJ
30      NEW MEXICO      New Mexico    NM
31        NEW YORK        New York    NY
32  NORTH CAROLINA  North Carolina    NC
33    NORTH DAKOTA    North Dakota    ND
34            OHIO            Ohio    OH
35        OKLAHOMA        Oklahoma    OK
36          OREGON          Oregon    OR
37    PENNSYLVANIA    Pennsylvania    PA
38    RHODE ISLAND    Rhode Island    RI
39  SOUTH CAROLINA  South Carolina    SC
40    SOUTH DAKOTA    South Dakota    SD
41       TENNESSEE       Tennessee    TN
42           TEXAS           Texas    TX
43            UTAH            Utah    UT
44         VERMONT         Vermont    VT
45        VIRGINIA        Virginia    VA
46      WASHINGTON      Washington    WA
47   WEST VIRGINIA   West Virginia    WV
48       WISCONSIN       Wisconsin    WI
49         WYOMING         Wyoming    WY

In [36]:
merge_table = pd.merge(census_pd, state_table, on="Name", how="outer")
merge_table

,State_x,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,CAPS,State_y
0,01,Alabama,4841164.0,38.6,44758.0,24736.0,868666.0,17.943329,3.810633,ALABAMA,AL
1,02,Alaska,736855.0,33.6,74444.0,34191.0,72826.0,9.883356,4.090221,ALASKA,AK
2,04,Arizona,6728577.0,37.1,51340.0,26686.0,1165636.0,17.323663,3.715080,ARIZONA,AZ
3,05,Arkansas,2968472.0,37.7,42336.0,23401.0,542431.0,18.273071,3.139326,ARKANSAS,AR
4,06,California,38654206.0,36.0,63783.0,31458.0,6004257.0,15.533257,4.355868,CALIFORNIA,CA
5,08,Colorado,5359295.0,36.4,62520.0,33230.0,637938.0,11.903394,3.203686,COLORADO,CO
6,09,Connecticut,3588570.0,40.6,71755.0,39906.0,360464.0,10.044781,4.319409,CONNECTICUT,CT
7,10,Delaware,934695.0,39.6,61017.0,31118.0,109448.0,11.709488,3.602138,DELAWARE,DE
8,11,District of Columbia,659009.0,33.8,72935.0,48781.0,112060.0,17.004320,5.056987,NaN,NaN
9,12,Florida,19934451.0,41.6,48900.0,27598.0,3139258.0,15.747903,4.023266,FLORIDA,FL
10,13,Georgia,10099320.0,36.2,51037.0,26678.0,1746894.0,17.297145,4.149913,GEORGIA,GA
11,15,Hawaii,1413673.0,38.5,71977.0,30970.0,148577.0,10.509998,2.742360,HAWAII,HI
12,16,Idaho,1635483.0,35.7,49174.0,24280.0,244585.0,14.954909,2.958453,IDAHO,ID
13,17,Illinois,12851684.0,37.4,59196.0,31502.0,1753731.0,13.645924,4.245630,ILLINOIS,IL
14,18,Indiana,6589578.0,37.4,50433.0,26117.0,957694.0,14.533465,3.474107,INDIANA,IN
15,19,Iowa,3106589.0,38.0,54570.0,28872.0,369828.0,11.904632,2.423526,IOWA,IA
16,20,Kansas,2898292.0,36.2,53571.0,28478.0,373162.0,12.875238,2.725743,KANSAS,KS
17,21,Kentucky,4411989.0,38.6,44811.0,24802.0,804139.0,18.226224,3.547357,KENTUCKY,KY
18,22,Louisiana,4645670.0,36.2,45652.0,25515.0,889570.0,19.148368,3.623288,LOUISIANA,LA
19,23,Maine,1329923.0,44.0,50826.0,28473.0,174405.0,13.113917,3.129504,MAINE,ME
20,24,Maryland,5959902.0,38.3,76067.0,37756.0,576835.0,9.678599,3.625664,MARYLAND,MD
21,25,Massachusetts,6742143.0,39.4,70954.0,38069.0,740836.0,10.988138,3.742831,MASSACHUSETTS,MA
22,26,Michigan,9909600.0,39.5,50803.0,27549.0,1575066.0,15.894345,4.167010,MICHIGAN,MI
23,27,Minnesota,5450868.0,37.8,63217.0,33225.0,577196.0,10.589066,2.675776,MINNESOTA,MN
24,28,Mississippi,2989192.0,36.7,40528.0,21651.0,645553.0,21.596237,4.310195,MISSISSIPPI,MS
25,29,Missouri,6059651.0,38.3,49593.0,27044.0,897755.0,14.815292,3.302880,MISSOURI,MO
26,30,Montana,1023391.0,39.8,48380.0,27309.0,148677.0,14.527878,2.871043,MONTANA,MT
27,31,Nebraska,1881259.0,36.2,54384.0,28596.0,227021.0,12.067504,2.261464,NEBRASKA,NE
28,32,Nevada,2839172.0,37.5,53094.0,27253.0,417257.0,14.696433,4.702956,NEVADA,NV
29,33,New Hampshire,1327503.0,42.4,68485.0,35264.0,109690.0,8.262882,2.841952,NEW HAMPSHIRE,NH
30,34,New Jersey,8915456.0,39.5,73702.0,37538.0,949341.0,10.648261,4.137422,NEW JERSEY,NJ
31,35,New Mexico,2082669.0,37.2,45674.0,24459.0,426814.0,20.493607,3.897643,NEW MEXICO,NM
32,36,New York,19697457.0,38.2,60741.0,34212.0,2967564.0,15.065721,3.854426,NEW YORK,NY
33,37,North Carolina,9940828.0,38.3,48256.0,26779.0,1631704.0,16.414166,4.069923,NORTH CAROLINA,NC
34,38,North Dakota,736162.0,35.2,59114.0,33107.0,79314.0,10.773987,1.528196,NORTH DAKOTA,ND
35,39,Ohio,11586941.0,39.3,50674.0,27800.0,1732839.0,14.955103,3.658912,OHIO,OH
36,40,Oklahoma,3875589.0,36.2,48038.0,25628.0,621155.0,16.027370,2.841375,OKLAHOMA,OK
37,41,Oregon,3982267.0,39.1,53270.0,28822.0,614223.0,15.423953,4.037826,OREGON,OR
38,42,Pennsylvania,12783977.0,40.6,54895.0,30137.0,1647762.0,12.889275,3.664274,PENNSYLVANIA,PA
39,44,Rhode Island,1054491.0,39.9,58387.0,31904.0,140161.0,13.291816,4.134696,RHODE ISLAND,RI
40,45,South Carolina,4834605.0,38.8,46898.0,25521.0,806422.0,16.680204,4.022128,SOUTH CAROLINA,SC
41,46,South Dakota,851058.0,36.8,52078.0,27516.0,115300.0,13.547843,2.189745,SOUTH DAKOTA,SD
42,47,Tennessee,6548009.0,38.5,46574.0,26019.0,1100169.0,16.801580,3.640374,TENNESSEE,TN
43,48,Texas,26956435.0,34.2,54727.0,27828.0,4397307.0,16.312643,3.146303,TEXAS,TX
44,49,Utah,2948427.0,30.3,62518.0,25600.0,338808.0,11.491144,2.479763,UTAH,UT
45,50,Vermont,626249.0,42.6,56104.0,30663.0,69673.0,11.125447,2.728467,VERMONT,VT
46,51,Virginia,8310301.0,37.8,66149.0,34967.0,921664.0,11.090621,3.072572,VIRGINIA,VA
47,53,Washington,7073146.0,37.6,62848.0,32999.0,883256.0,12.487456,3.459451,WASHINGTON,WA
48,54,West Virginia,1846092.0,41.9,42644.0,24002.0,318060.0,17.228827,3.315924,WEST VIRGINIA,WV
49,55,Wisconsin,5754798.0,39.1,54610.0,29253.0,713472.0,12.397863,2.944082,WISCONSIN,WI
50,56,Wyoming,583029.0,36.8,59143.0,30139.0,65762.0,11.279370,2.593010,WYOMING,WY
51,72,Puerto Rico,3529385.0,39.4,19606.0,11688.0,1577075.0,44.684131,6.428315,NaN,NaN

In [39]:
newtable_df = merge_table.rename(columns={"State_x": "Index", "Name": "Name", "Population": "Population",
                                      "Median Age": "Median Age", "Household Income": "Household Income", "Per Capita Income": "BPer Capita Income",
                                         "Poverty Count": "Poverty Count", "Unemployment Rate": "Unemployment Rate", "CAPS":"CAPS", "State_y":"State"})

newtable_df

,Index,Name,Population,Median Age,Household Income,BPer Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,CAPS,State
0,01,Alabama,4841164.0,38.6,44758.0,24736.0,868666.0,17.943329,3.810633,ALABAMA,AL
1,02,Alaska,736855.0,33.6,74444.0,34191.0,72826.0,9.883356,4.090221,ALASKA,AK
2,04,Arizona,6728577.0,37.1,51340.0,26686.0,1165636.0,17.323663,3.715080,ARIZONA,AZ
3,05,Arkansas,2968472.0,37.7,42336.0,23401.0,542431.0,18.273071,3.139326,ARKANSAS,AR
4,06,California,38654206.0,36.0,63783.0,31458.0,6004257.0,15.533257,4.355868,CALIFORNIA,CA
5,08,Colorado,5359295.0,36.4,62520.0,33230.0,637938.0,11.903394,3.203686,COLORADO,CO
6,09,Connecticut,3588570.0,40.6,71755.0,39906.0,360464.0,10.044781,4.319409,CONNECTICUT,CT
7,10,Delaware,934695.0,39.6,61017.0,31118.0,109448.0,11.709488,3.602138,DELAWARE,DE
8,11,District of Columbia,659009.0,33.8,72935.0,48781.0,112060.0,17.004320,5.056987,NaN,NaN
9,12,Florida,19934451.0,41.6,48900.0,27598.0,3139258.0,15.747903,4.023266,FLORIDA,FL
10,13,Georgia,10099320.0,36.2,51037.0,26678.0,1746894.0,17.297145,4.149913,GEORGIA,GA
11,15,Hawaii,1413673.0,38.5,71977.0,30970.0,148577.0,10.509998,2.742360,HAWAII,HI
12,16,Idaho,1635483.0,35.7,49174.0,24280.0,244585.0,14.954909,2.958453,IDAHO,ID
13,17,Illinois,12851684.0,37.4,59196.0,31502.0,1753731.0,13.645924,4.245630,ILLINOIS,IL
14,18,Indiana,6589578.0,37.4,50433.0,26117.0,957694.0,14.533465,3.474107,INDIANA,IN
15,19,Iowa,3106589.0,38.0,54570.0,28872.0,369828.0,11.904632,2.423526,IOWA,IA
16,20,Kansas,2898292.0,36.2,53571.0,28478.0,373162.0,12.875238,2.725743,KANSAS,KS
17,21,Kentucky,4411989.0,38.6,44811.0,24802.0,804139.0,18.226224,3.547357,KENTUCKY,KY
18,22,Louisiana,4645670.0,36.2,45652.0,25515.0,889570.0,19.148368,3.623288,LOUISIANA,LA
19,23,Maine,1329923.0,44.0,50826.0,28473.0,174405.0,13.113917,3.129504,MAINE,ME
20,24,Maryland,5959902.0,38.3,76067.0,37756.0,576835.0,9.678599,3.625664,MARYLAND,MD
21,25,Massachusetts,6742143.0,39.4,70954.0,38069.0,740836.0,10.988138,3.742831,MASSACHUSETTS,MA
22,26,Michigan,9909600.0,39.5,50803.0,27549.0,1575066.0,15.894345,4.167010,MICHIGAN,MI
23,27,Minnesota,5450868.0,37.8,63217.0,33225.0,577196.0,10.589066,2.675776,MINNESOTA,MN
24,28,Mississippi,2989192.0,36.7,40528.0,21651.0,645553.0,21.596237,4.310195,MISSISSIPPI,MS
25,29,Missouri,6059651.0,38.3,49593.0,27044.0,897755.0,14.815292,3.302880,MISSOURI,MO
26,30,Montana,1023391.0,39.8,48380.0,27309.0,148677.0,14.527878,2.871043,MONTANA,MT
27,31,Nebraska,1881259.0,36.2,54384.0,28596.0,227021.0,12.067504,2.261464,NEBRASKA,NE
28,32,Nevada,2839172.0,37.5,53094.0,27253.0,417257.0,14.696433,4.702956,NEVADA,NV
29,33,New Hampshire,1327503.0,42.4,68485.0,35264.0,109690.0,8.262882,2.841952,NEW HAMPSHIRE,NH
30,34,New Jersey,8915456.0,39.5,73702.0,37538.0,949341.0,10.648261,4.137422,NEW JERSEY,NJ
31,35,New Mexico,2082669.0,37.2,45674.0,24459.0,426814.0,20.493607,3.897643,NEW MEXICO,NM
32,36,New York,19697457.0,38.2,60741.0,34212.0,2967564.0,15.065721,3.854426,NEW YORK,NY
33,37,North Carolina,9940828.0,38.3,48256.0,26779.0,1631704.0,16.414166,4.069923,NORTH CAROLINA,NC
34,38,North Dakota,736162.0,35.2,59114.0,33107.0,79314.0,10.773987,1.528196,NORTH DAKOTA,ND
35,39,Ohio,11586941.0,39.3,50674.0,27800.0,1732839.0,14.955103,3.658912,OHIO,OH
36,40,Oklahoma,3875589.0,36.2,48038.0,25628.0,621155.0,16.027370,2.841375,OKLAHOMA,OK
37,41,Oregon,3982267.0,39.1,53270.0,28822.0,614223.0,15.423953,4.037826,OREGON,OR
38,42,Pennsylvania,12783977.0,40.6,54895.0,30137.0,1647762.0,12.889275,3.664274,PENNSYLVANIA,PA
39,44,Rhode Island,1054491.0,39.9,58387.0,31904.0,140161.0,13.291816,4.134696,RHODE ISLAND,RI
40,45,South Carolina,4834605.0,38.8,46898.0,25521.0,806422.0,16.680204,4.022128,SOUTH CAROLINA,SC
41,46,South Dakota,851058.0,36.8,52078.0,27516.0,115300.0,13.547843,2.189745,SOUTH DAKOTA,SD
42,47,Tennessee,6548009.0,38.5,46574.0,26019.0,1100169.0,16.801580,3.640374,TENNESSEE,TN
43,48,Texas,26956435.0,34.2,54727.0,27828.0,4397307.0,16.312643,3.146303,TEXAS,TX
44,49,Utah,2948427.0,30.3,62518.0,25600.0,338808.0,11.491144,2.479763,UTAH,UT
45,50,Vermont,626249.0,42.6,56104.0,30663.0,69673.0,11.125447,2.728467,VERMONT,VT
46,51,Virginia,8310301.0,37.8,66149.0,34967.0,921664.0,11.090621,3.072572,VIRGINIA,VA
47,53,Washington,7073146.0,37.6,62848.0,32999.0,883256.0,12.487456,3.459451,WASHINGTON,WA
48,54,West Virginia,1846092.0,41.9,42644.0,24002.0,318060.0,17.228827,3.315924,WEST VIRGINIA,WV
49,55,Wisconsin,5754798.0,39.1,54610.0,29253.0,713472.0,12.397863,2.944082,WISCONSIN,WI
50,56,Wyoming,583029.0,36.8,59143.0,30139.0,65762.0,11.279370,2.593010,WYOMING,WY
51,72,Puerto Rico,3529385.0,39.4,19606.0,11688.0,1577075.0,44.684131,6.428315,NaN,NaN

In [29]:
hospitalgen = pd.read_csv("csv_data/Hospital General Information.csv")
hospitalgen.head()

,Provider ID,Hospital Name,Address,City,State,ZIP Code,County Name,Hospital Type,Hospital Ownership,Emergency Services
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,Acute Care Hospitals,Government - Hospital District or Authority,Yes
1,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,Acute Care Hospitals,Government - Hospital District or Authority,Yes
2,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,LAUDERDALE,Acute Care Hospitals,Government - Hospital District or Authority,Yes
3,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,Acute Care Hospitals,Voluntary non-profit - Private,Yes
4,10008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,Acute Care Hospitals,Proprietary,Yes

In [8]:
hospitalstr = pd.read_csv("csv_data/Structural Measures - Hospital.csv")
hospitalstr.head()

,Provider ID,Hospital Name,Address,City,State,ZIP Code,County Name,Measure Name,Measure ID,Measure Response
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,Able to receive lab results electronically,OP_12,Yes
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,"Able to track patients' lab results, tests, an...",OP_17,No
2,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,Able to receive lab results electronically,OP_12,Yes
3,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,"Able to track patients' lab results, tests, an...",OP_17,Yes
4,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,LAUDERDALE,Able to receive lab results electronically,OP_12,Yes

In [9]:
hospitaldetail = pd.read_csv("csv_data/HCAHPS - Hospital.csv")
hospitaldetail.head()

,Provider ID,Hospital Name,Address,City,State,ZIP Code,County Name
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON
1,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL
2,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,LAUDERDALE
3,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON
4,10008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW

In [22]:
count = hospitaldetail["Hospital Name"].count()
count

4744

In [11]:
len(set(zip(hospitaldetail['State'],hospitaldetail['Hospital Name'])))

4744

In [13]:
state_counts = hospitaldetail["State"].value_counts()
state_counts.head()

TX    396
CA    345
FL    187
IL    174
NY    174
Name: State, dtype: int64

In [26]:
grouped_df = hospitaldetail.groupby('State',as_index =False)
count_df = grouped_df["Hospital Name"].count()
count_df

   State  Hospital Name
0     AK             22
1     AL             94
2     AR             77
3     AS              1
4     AZ             80
5     CA            345
6     CO             82
7     CT             32
8     DC              8
9     DE              8
10    FL            187
11    GA            130
12    GU              2
13    HI             22
14    IA            114
15    ID             42
16    IL            174
17    IN            118
18    KS            135
19    KY             88
20    LA            116
21    MA             64
22    MD             50
23    ME             32
24    MI            134
25    MN            125
26    MO            108
27    MP              1
28    MS             95
29    MT             62
30    NC            105
31    ND             45
32    NE             84
33    NH             24
34    NJ             63
35    NM             41
36    NV             37
37    NY            174
38    OH            160
39    OK            120
40    OR             60
41    PA            169
42    PR             53
43    RI             12
44    SC             61
45    SD             59
46    TN            106
47    TX            396
48    UT             44
49    VA             85
50    VI              2
51    VT             15
52    WA             81
53    WI            121
54    WV             50
55    WY             29

In [17]:
#highest_hospital = df.loc[["State", "Berry", "Hudson",
                                #"Mcdonald", "Morales"], ["id", "first_name", "Phone Number"]]
#print(richardson_to_morales)

In [41]:
hospital_table = pd.merge(newtable_df, count_df, on="State", how="outer")
hospital_table

,Index,Name,Population,Median Age,Household Income,BPer Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,CAPS,State,Hospital Name
0,01,Alabama,4841164.0,38.6,44758.0,24736.0,868666.0,17.943329,3.810633,ALABAMA,AL,94.0
1,02,Alaska,736855.0,33.6,74444.0,34191.0,72826.0,9.883356,4.090221,ALASKA,AK,22.0
2,04,Arizona,6728577.0,37.1,51340.0,26686.0,1165636.0,17.323663,3.715080,ARIZONA,AZ,80.0
3,05,Arkansas,2968472.0,37.7,42336.0,23401.0,542431.0,18.273071,3.139326,ARKANSAS,AR,77.0
4,06,California,38654206.0,36.0,63783.0,31458.0,6004257.0,15.533257,4.355868,CALIFORNIA,CA,345.0
5,08,Colorado,5359295.0,36.4,62520.0,33230.0,637938.0,11.903394,3.203686,COLORADO,CO,82.0
6,09,Connecticut,3588570.0,40.6,71755.0,39906.0,360464.0,10.044781,4.319409,CONNECTICUT,CT,32.0
7,10,Delaware,934695.0,39.6,61017.0,31118.0,109448.0,11.709488,3.602138,DELAWARE,DE,8.0
8,11,District of Columbia,659009.0,33.8,72935.0,48781.0,112060.0,17.004320,5.056987,NaN,NaN,NaN
9,72,Puerto Rico,3529385.0,39.4,19606.0,11688.0,1577075.0,44.684131,6.428315,NaN,NaN,NaN
10,12,Florida,19934451.0,41.6,48900.0,27598.0,3139258.0,15.747903,4.023266,FLORIDA,FL,187.0
11,13,Georgia,10099320.0,36.2,51037.0,26678.0,1746894.0,17.297145,4.149913,GEORGIA,GA,130.0
12,15,Hawaii,1413673.0,38.5,71977.0,30970.0,148577.0,10.509998,2.742360,HAWAII,HI,22.0
13,16,Idaho,1635483.0,35.7,49174.0,24280.0,244585.0,14.954909,2.958453,IDAHO,ID,42.0
14,17,Illinois,12851684.0,37.4,59196.0,31502.0,1753731.0,13.645924,4.245630,ILLINOIS,IL,174.0
15,18,Indiana,6589578.0,37.4,50433.0,26117.0,957694.0,14.533465,3.474107,INDIANA,IN,118.0
16,19,Iowa,3106589.0,38.0,54570.0,28872.0,369828.0,11.904632,2.423526,IOWA,IA,114.0
17,20,Kansas,2898292.0,36.2,53571.0,28478.0,373162.0,12.875238,2.725743,KANSAS,KS,135.0
18,21,Kentucky,4411989.0,38.6,44811.0,24802.0,804139.0,18.226224,3.547357,KENTUCKY,KY,88.0
19,22,Louisiana,4645670.0,36.2,45652.0,25515.0,889570.0,19.148368,3.623288,LOUISIANA,LA,116.0
20,23,Maine,1329923.0,44.0,50826.0,28473.0,174405.0,13.113917,3.129504,MAINE,ME,32.0
21,24,Maryland,5959902.0,38.3,76067.0,37756.0,576835.0,9.678599,3.625664,MARYLAND,MD,50.0
22,25,Massachusetts,6742143.0,39.4,70954.0,38069.0,740836.0,10.988138,3.742831,MASSACHUSETTS,MA,64.0
23,26,Michigan,9909600.0,39.5,50803.0,27549.0,1575066.0,15.894345,4.167010,MICHIGAN,MI,134.0
24,27,Minnesota,5450868.0,37.8,63217.0,33225.0,577196.0,10.589066,2.675776,MINNESOTA,MN,125.0
25,28,Mississippi,2989192.0,36.7,40528.0,21651.0,645553.0,21.596237,4.310195,MISSISSIPPI,MS,95.0
26,29,Missouri,6059651.0,38.3,49593.0,27044.0,897755.0,14.815292,3.302880,MISSOURI,MO,108.0
27,30,Montana,1023391.0,39.8,48380.0,27309.0,148677.0,14.527878,2.871043,MONTANA,MT,62.0
28,31,Nebraska,1881259.0,36.2,54384.0,28596.0,227021.0,12.067504,2.261464,NEBRASKA,NE,84.0
29,32,Nevada,2839172.0,37.5,53094.0,27253.0,417257.0,14.696433,4.702956,NEVADA,NV,37.0
30,33,New Hampshire,1327503.0,42.4,68485.0,35264.0,109690.0,8.262882,2.841952,NEW HAMPSHIRE,NH,24.0
31,34,New Jersey,8915456.0,39.5,73702.0,37538.0,949341.0,10.648261,4.137422,NEW JERSEY,NJ,63.0
32,35,New Mexico,2082669.0,37.2,45674.0,24459.0,426814.0,20.493607,3.897643,NEW MEXICO,NM,41.0
33,36,New York,19697457.0,38.2,60741.0,34212.0,2967564.0,15.065721,3.854426,NEW YORK,NY,174.0
34,37,North Carolina,9940828.0,38.3,48256.0,26779.0,1631704.0,16.414166,4.069923,NORTH CAROLINA,NC,105.0
35,38,North Dakota,736162.0,35.2,59114.0,33107.0,79314.0,10.773987,1.528196,NORTH DAKOTA,ND,45.0
36,39,Ohio,11586941.0,39.3,50674.0,27800.0,1732839.0,14.955103,3.658912,OHIO,OH,160.0
37,40,Oklahoma,3875589.0,36.2,48038.0,25628.0,621155.0,16.027370,2.841375,OKLAHOMA,OK,120.0
38,41,Oregon,3982267.0,39.1,53270.0,28822.0,614223.0,15.423953,4.037826,OREGON,OR,60.0
39,42,Pennsylvania,12783977.0,40.6,54895.0,30137.0,1647762.0,12.889275,3.664274,PENNSYLVANIA,PA,169.0
40,44,Rhode Island,1054491.0,39.9,58387.0,31904.0,140161.0,13.291816,4.134696,RHODE ISLAND,RI,12.0
41,45,South Carolina,4834605.0,38.8,46898.0,25521.0,806422.0,16.680204,4.022128,SOUTH CAROLINA,SC,61.0
42,46,South Dakota,851058.0,36.8,52078.0,27516.0,115300.0,13.547843,2.189745,SOUTH DAKOTA,SD,59.0
43,47,Tennessee,6548009.0,38.5,46574.0,26019.0,1100169.0,16.801580,3.640374,TENNESSEE,TN,106.0
44,48,Texas,26956435.0,34.2,54727.0,27828.0,4397307.0,16.312643,3.146303,TEXAS,TX,396.0
45,49,Utah,2948427.0,30.3,62518.0,25600.0,338808.0,11.491144,2.479763,UTAH,UT,44.0
46,50,Vermont,626249.0,42.6,56104.0,30663.0,69673.0,11.125447,2.728467,VERMONT,VT,15.0
47,51,Virginia,8310301.0,37.8,66149.0,34967.0,921664.0,11.090621,3.072572,VIRGINIA,VA,85.0
48,53,Washington,7073146.0,37.6,62848.0,32999.0,883256.0,12.487456,3.459451,WASHINGTON,WA,81.0
49,54,West Virginia,1846092.0,41.9,42644.0,24002.0,318060.0,17.228827,3.315924,WEST VIRGINIA,WV,50.0
50,55,Wisconsin,5754798.0,39.1,54610.0,29253.0,713472.0,12.397863,2.944082,WISCONSIN,WI,121.0
51,56,Wyoming,583029.0,36.8,59143.0,30139.0,65762.0,11.279370,2.593010,WYOMING,WY,29.0
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AS,1.0
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DC,8.0
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GU,2.0
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MP,1.0
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PR,53.0
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VI,2.0

In [48]:
#emergency_df = hospitalgen.groupby('State',as_index =False)
#emcount_df = emergency_df["Emergency Services"].count()
#emcount_df
#emergencydf.groupby('hospitalgen')['Emergency Services'].value_counts().unstack(1)