In [2]:
import pandas as pd
import numpy as np

In [3]:
zip_data = pd.read_csv("zip_codes_states.csv")

In [4]:
zip_data.head()

   zip  zip_code   latitude  longitude        city state     county
0  501       501  40.922326 -72.637078  Holtsville    NY    Suffolk
1  544       544  40.922326 -72.637078  Holtsville    NY    Suffolk
2  601       601  18.165273 -66.722583    Adjuntas    PR   Adjuntas
3  602       602  18.393103 -67.180953      Aguada    PR     Aguada
4  603       603  18.455913 -67.145780   Aguadilla    PR  Aguadilla

In [5]:
zip_codes = []
for z in zip_data["zip"]:
    if len(str(z))==3:
        z = "00"+str(z)
    else:
        if len(str(z))==4:
            z = "0"+str(z)
        else:
            z = str(z)
    zip_codes.append(z)
zip_data["zip_code"]=zip_codes

In [6]:
zip_data = zip_data.drop(["zip"],axis=1)
zip_data.head()

  zip_code   latitude  longitude        city state     county
0    00501  40.922326 -72.637078  Holtsville    NY    Suffolk
1    00544  40.922326 -72.637078  Holtsville    NY    Suffolk
2    00601  18.165273 -66.722583    Adjuntas    PR   Adjuntas
3    00602  18.393103 -67.180953      Aguada    PR     Aguada
4    00603  18.455913 -67.145780   Aguadilla    PR  Aguadilla

In [7]:
claim_data = pd.read_csv("Medicare Hospital Spending by Claim.csv")

In [8]:
claim_data = claim_data.sort_values("Provider_ID")
df = pd.DataFrame(claim_data.loc[claim_data['Claim_Type']=="Total"])
df = df.drop(["Percent_of_Spending_Hospital","Percent_of_Spending_State","Percent_of_Spending_Nation","Period","Claim_Type"],axis=1)
df.to_csv("hospital_claim_data",sep="\t")

In [9]:
df.head()

,Hospital_Name,Provider_ID,State,Avg_Spending_Per_Episode_Hospital,Avg_Spending_Per_Episode_State,Avg_Spending_Per_Episode_Nation,Start_Date,End_Date
17083,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,20711,19139,20302,1012016,12312016
56338,MARSHALL MEDICAL CENTERS,10005,AL,16849,19139,20302,1012016,12312016
21475,ELIZA COFFEE MEMORIAL HOSPITAL,10006,AL,19553,19139,20302,1012016,12312016
17084,MIZELL MEMORIAL HOSPITAL,10007,AL,15899,19139,20302,1012016,12312016
65059,CRENSHAW COMMUNITY HOSPITAL,10008,AL,12254,19139,20302,1012016,12312016

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [15]:
detailed_health_data = pd.read_csv("csv_data/health_ineq_online_table_12.csv")

In [16]:
detailed_health_data.drop[]

,cty,county_name,cty_pop2000,cz,cz_name,cz_pop2000,statename,state_id,stateabbrv,csa,...,dropout_r,cs_educ_ba,tuition,gradrate_r,e_rank_b,cs_fam_wkidsinglemom,crime_total,subcty_exp_pc,taxrate,tax_st_diff_top20
0,1001,Autauga,43671,11101,Montgomery,367927,Alabama,1,AL,NaN,...,0.003901,18.000000,NaN,NaN,41.872879,0.191595,0.009353,1059.66930,0.011183,0.00
1,1003,Baldwin,140415,11001,Mobile,599405,Alabama,1,AL,380.0,...,0.002539,23.100000,2055.6699,-0.247166,44.492390,0.186778,0.007371,2209.91040,0.011756,0.00
2,1005,Barbour,29038,10301,Eufaula,61458,Alabama,1,AL,NaN,...,-0.007111,10.900000,NaN,NaN,37.718758,0.337853,0.007748,1570.24830,0.012059,0.00
3,1007,Bibb,20826,10801,Tuscaloosa,261112,Alabama,1,AL,142.0,...,-0.006158,7.100000,NaN,NaN,42.245155,0.197729,0.004514,1338.44120,0.008007,0.00
4,1009,Blount,51024,10700,Birmingham,1038182,Alabama,1,AL,142.0,...,0.011457,9.600000,NaN,NaN,49.043320,0.121988,0.002019,987.43884,0.007012,0.00
5,1011,Bullock,11714,9800,Auburn,150911,Alabama,1,AL,NaN,...,-0.015715,7.700000,NaN,NaN,37.232834,0.517216,0.003159,1858.17790,0.008011,0.00
6,1013,Butler,21399,11101,Montgomery,367927,Alabama,1,AL,NaN,...,0.014176,10.400000,NaN,NaN,40.244465,0.330400,0.004626,1299.33310,0.011749,0.00
7,1015,Calhoun,112249,9600,LaGrange,457299,Alabama,1,AL,NaN,...,0.003818,15.200000,2506.3513,-0.034474,42.289951,0.242177,0.008780,1722.61580,0.011815,0.00
8,1017,Chambers,36583,9600,LaGrange,457299,Alabama,1,AL,194.0,...,0.002566,9.500000,NaN,NaN,38.910061,0.309283,0.006943,1286.06680,0.008410,0.00
9,1019,Cherokee,23988,6600,Rome,418304,Alabama,1,AL,NaN,...,0.016550,9.700000,NaN,NaN,44.802982,0.149004,0.003795,1118.71250,0.007538,0.00
10,1021,Chilton,39593,10700,Birmingham,1038182,Alabama,1,AL,142.0,...,0.000217,9.900000,NaN,NaN,46.144299,0.171103,0.005304,1100.37590,0.010730,0.00
11,1023,Choctaw,15922,10802,Demopolis,63233,Alabama,1,AL,NaN,...,0.040523,9.600000,NaN,NaN,43.134087,0.282188,0.002512,1079.84770,0.007187,0.00
12,1025,Clarke,27867,11001,Mobile,599405,Alabama,1,AL,NaN,...,-0.035240,12.100000,NaN,NaN,42.712940,0.264439,0.007392,1918.35530,0.013172,0.00
13,1027,Clay,14254,9500,Talladega,148252,Alabama,1,AL,NaN,...,-0.021693,7.800000,NaN,NaN,44.895561,0.190530,0.003438,1797.31360,0.005619,0.00
14,1029,Cleburne,14123,9600,LaGrange,457299,Alabama,1,AL,NaN,...,0.011223,9.200000,NaN,NaN,52.032295,0.135621,0.003894,943.28357,0.007537,0.00
15,1031,Coffee,43615,10302,Dothan,223605,Alabama,1,AL,222.0,...,0.010352,19.299999,1560.0000,-0.030344,43.485626,0.227070,0.007260,1761.23270,0.010937,0.00
16,1033,Colbert,54984,6200,Florence,230941,Alabama,1,AL,NaN,...,-0.000983,14.100000,1440.0000,-0.254089,41.822567,0.214651,0.002819,3000.73560,0.015131,0.00
17,1035,Conecuh,14089,11002,Atmore,76853,Alabama,1,AL,NaN,...,0.032351,9.200000,1500.0000,-0.083013,40.745705,0.319173,0.005323,1129.07360,0.008883,0.00
18,1037,Coosa,12202,9500,Talladega,148252,Alabama,1,AL,142.0,...,-0.000832,8.000000,NaN,NaN,39.321808,0.228795,0.004835,1123.74580,0.006771,0.00
19,1039,Covington,37631,11102,Troy,80901,Alabama,1,AL,NaN,...,0.017030,12.200000,1516.0396,-0.127115,46.687706,0.214828,0.005820,2507.45650,0.010780,0.00
20,1041,Crenshaw,13665,11102,Troy,80901,Alabama,1,AL,NaN,...,-0.005859,11.200000,NaN,NaN,49.146595,0.264468,0.010245,1166.40990,0.007745,0.00
21,1043,Cullman,77483,10700,Birmingham,1038182,Alabama,1,AL,142.0,...,0.012682,11.900000,1200.0000,0.109052,48.457314,0.145202,0.004790,1798.41150,0.010455,0.00
22,1045,Dale,49129,10302,Dothan,223605,Alabama,1,AL,222.0,...,0.002102,14.000000,NaN,-0.158576,43.990410,0.250110,0.005777,1190.59900,0.010695,0.00
23,1047,Dallas,46365,10801,Tuscaloosa,261112,Alabama,1,AL,NaN,...,-0.025037,13.900000,3190.3149,-0.122716,37.322254,0.441487,0.007161,1338.06360,0.016144,0.00
24,1049,DeKalb,64452,6100,Gadsden,304068,Alabama,1,AL,NaN,...,0.018754,8.300000,1320.0000,0.087986,48.213566,0.165868,0.004856,1534.15310,0.010409,0.00
25,1051,Elmore,65874,11101,Montgomery,367927,Alabama,1,AL,NaN,...,0.013227,16.600000,NaN,NaN,43.720287,0.191244,0.006214,1141.43470,0.007991,0.00
26,1053,Escambia,38440,11002,Atmore,76853,Alabama,1,AL,NaN,...,-0.005136,10.600000,1560.0000,0.035239,43.472733,0.265574,0.008273,1472.12680,0.012149,0.00
27,1055,Etowah,103459,6100,Gadsden,304068,Alabama,1,AL,NaN,...,0.013854,13.400000,1560.0000,-0.160966,42.706387,0.237225,0.006401,1292.93870,0.017390,0.00
28,1057,Fayette,18495,10600,Jasper,161169,Alabama,1,AL,NaN,...,-0.006763,9.200000,NaN,NaN,46.760468,0.185169,0.005643,1848.34640,0.008026,0.00
29,1059,Franklin,31223,6200,Florence,230941,Alabama,1,AL,NaN,...,-0.007070,9.700000,NaN,NaN,46.629795,0.182480,0.004484,1823.39820,0.009254,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,55129,Washburn,16036,21101,Rice Lake,92542,Wisconsin,55,WI,NaN,...,-0.025214,15.200000,1968.0000,0.040291,50.517467,0.162162,0.000000,2855.43140,0.040424,0.25
3109,55131,Washington,117493,24100,Milwaukee,1660659,Wisconsin,55,WI,376.0,...,-0.014907,21.900000,NaN,NaN,55.019424,0.122136,0.000000,2399.85110,0.024093,0.25
3110,55133,Waukesha,360767,24100,Milwaukee,1660659,Wisconsin,55,WI,376.0,...,-0.016177,34.099998,10302.3060,0.080542,51.385498,0.111468,0.000000,2435.81050,0.026761,0.25
3111,55135,Waupaca,51731,22500,Appleton,549651,Wisconsin,55,WI,NaN,...,NaN,14.800000,NaN,NaN,53.139961,0.146251,0.000000,2667.75100,0.025030,0.25
3112,55137,Waushara,23154,22500,Appleton,549651,Wisconsin,55,WI,NaN,...,NaN,11.700000,NaN,NaN,51.990005,0.144742,0.000000,1786.22660,0.026813,0.25
3113,55139,Winnebago,156763,22500,Appleton,549651,Wisconsin,55,WI,118.0,...,-0.018300,22.799999,2594.0000,0.117818,47.987606,0.178036,0.000000,2161.55220,0.022976,0.25
3114,55141,Wood,75555,22700,Wausau,370092,Wisconsin,55,WI,554.0,...,-0.024967,16.900000,1599.0000,-0.112006,51.769073,0.163284,0.000000,3079.28810,0.025881,0.25
3115,56001,Albany,32014,28704,Laramie,33591,Wyoming,56,WY,NaN,...,0.018664,44.099998,2166.0000,0.297199,49.771820,0.203534,0.003436,2960.84030,0.013155,0.00
3116,56003,Big Horn,11461,34301,Cody,37247,Wyoming,56,WY,NaN,...,0.018699,15.900000,NaN,NaN,56.988316,0.135000,0.003228,3697.95730,0.028538,0.00
3117,56005,Campbell,33698,34601,Gillette,46229,Wyoming,56,WY,NaN,...,0.015363,15.700000,NaN,NaN,60.566540,0.157395,0.008873,4584.81450,0.070894,0.00
3118,56007,Carbon,15639,34602,Rawlins,15639,Wyoming,56,WY,NaN,...,0.017361,17.200001,NaN,NaN,53.436363,0.191623,0.010742,3351.10130,0.046421,0.00
3119,56009,Converse,12052,34603,Casper,78585,Wyoming,56,WY,NaN,...,0.008034,14.700000,NaN,NaN,59.429344,0.173178,0.003983,3304.63700,0.037894,0.00
3120,56011,Crook,5887,34601,Gillette,46229,Wyoming,56,WY,NaN,...,-0.010660,17.500000,NaN,NaN,64.857750,0.116779,0.005606,3425.76510,0.050580,0.00
3121,56013,Fremont,35804,34303,Riverton,35804,Wyoming,56,WY,NaN,...,0.037094,19.700001,1108.0000,-0.052671,46.922493,0.215938,0.006368,2643.33670,0.021247,0.00
3122,56015,Goshen,12538,27703,Torrington,21345,Wyoming,56,WY,NaN,...,-0.006985,18.600000,1128.0000,-0.045760,52.280495,0.174724,0.003669,2733.53270,0.015742,0.00
3123,56017,Hot Springs,4882,34302,Worland,13171,Wyoming,56,WY,NaN,...,NaN,17.900000,NaN,NaN,NaN,0.184358,0.007169,3580.16240,0.039671,0.00
3124,56019,Johnson,7075,34304,Sheridan,46306,Wyoming,56,WY,NaN,...,-0.014010,22.200001,NaN,NaN,57.075283,0.165882,0.002261,2995.11790,0.027863,0.00
3125,56021,Laramie,81607,27702,Cheyenne,95526,Wyoming,56,WY,NaN,...,0.012084,23.400000,1128.0000,-0.226124,49.816044,0.203700,0.008480,3039.58060,0.013905,0.00
3126,56023,Lincoln,14573,36404,Rock Springs,80730,Wyoming,56,WY,NaN,...,-0.001857,17.200001,NaN,NaN,55.803059,0.092516,0.005558,4763.64360,0.047004,0.00
3127,56025,Natrona,66533,34603,Casper,78585,Wyoming,56,WY,NaN,...,0.071393,20.000000,1248.0000,-0.115988,55.144932,0.230796,0.009649,2944.07620,0.017725,0.00
3128,56027,Niobrara,2407,34604,Lusk,2407,Wyoming,56,WY,NaN,...,-0.028546,15.300000,NaN,NaN,NaN,0.153285,0.003739,5706.28270,0.035800,0.00
3129,56029,Park,25786,34301,Cody,37247,Wyoming,56,WY,NaN,...,-0.008126,23.700001,1128.0000,-0.093242,54.519917,0.161613,0.004305,3664.42330,0.031789,0.00
3130,56031,Platte,8807,27703,Torrington,21345,Wyoming,56,WY,NaN,...,0.010946,15.200000,NaN,NaN,56.562542,0.148760,0.003066,3733.57890,0.026291,0.00
3131,56033,Sheridan,26560,34304,Sheridan,46306,Wyoming,56,WY,NaN,...,0.018543,22.400000,1128.0000,-0.129339,56.229282,0.195645,0.006739,2973.81370,0.014744,0.00
3132,56035,Sublette,5920,36404,Rock Springs,80730,Wyoming,56,WY,NaN,...,-0.011064,21.600000,NaN,NaN,61.705799,0.117419,0.004561,4178.19530,0.082382,0.00
3133,56037,Sweetwater,37613,36404,Rock Springs,80730,Wyoming,56,WY,NaN,...,0.036261,17.000000,1128.0000,0.158455,56.366959,0.169972,0.011671,4166.11280,0.051011,0.00
3134,56039,Teton,18251,36303,Jackson,24250,Wyoming,56,WY,NaN,...,NaN,45.799999,NaN,NaN,52.446892,0.153690,0.003835,5373.52340,0.043496,0.00
3135,56041,Uinta,19742,36404,Rock Springs,80730,Wyoming,56,WY,NaN,...,NaN,15.000000,NaN,NaN,55.725517,0.169347,0.004660,3627.80000,0.056147,0.00
3136,56043,Washakie,8289,34302,Worland,13171,Wyoming,56,WY,NaN,...,NaN,18.700001,NaN,NaN,50.838997,0.143126,0.013633,2368.86040,0.020641,0.00
3137,56045,Weston,6644,34601,Gillette,46229,Wyoming,56,WY,NaN,...,-0.001208,14.500000,NaN,NaN,59.996475,0.148103,0.004214,3820.95750,0.025310,0.00