In [23]:
import pandas as pd
import numpy as np

In [24]:
zip_data = pd.read_csv("zip_codes_states.csv")

In [25]:
zip_data.head()

   zip  zip_code   latitude  longitude        city state     county
0  501       501  40.922326 -72.637078  Holtsville    NY    Suffolk
1  544       544  40.922326 -72.637078  Holtsville    NY    Suffolk
2  601       601  18.165273 -66.722583    Adjuntas    PR   Adjuntas
3  602       602  18.393103 -67.180953      Aguada    PR     Aguada
4  603       603  18.455913 -67.145780   Aguadilla    PR  Aguadilla

In [26]:
zip_codes = []
for z in zip_data["zip"]:
    if len(str(z))==3:
        z = "00"+str(z)
    else:
        if len(str(z))==4:
            z = "0"+str(z)
        else:
            z = str(z)
    zip_codes.append(z)
zip_data["zip_code"]=zip_codes

In [27]:
zip_data = zip_data.drop(["zip"],axis=1)
zip_data.head()

  zip_code   latitude  longitude        city state     county
0    00501  40.922326 -72.637078  Holtsville    NY    Suffolk
1    00544  40.922326 -72.637078  Holtsville    NY    Suffolk
2    00601  18.165273 -66.722583    Adjuntas    PR   Adjuntas
3    00602  18.393103 -67.180953      Aguada    PR     Aguada
4    00603  18.455913 -67.145780   Aguadilla    PR  Aguadilla

In [28]:
claim_data = pd.read_csv("Medicare Hospital Spending by Claim.csv")

In [59]:
claim_data = claim_data.sort_values("Provider_ID")
df = pd.DataFrame(claim_data.loc[claim_data['Claim_Type']=="Total"])
df = df.drop(["Percent_of_Spending_Hospital","Percent_of_Spending_State","Percent_of_Spending_Nation","Period","Claim_Type"],axis=1)
df.to_csv("hospital_claim_data",sep="\t")